:root{
    margin: 0;
    padding: 0;
    box-sizing: 0;
   
    background-color: #baa1a1;
    
}
.container{
    margin-top: 90px;
    width: 700px;
    display: flex;
    
}

form {
    width: 450px;
    background: #1de4cd;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-user{
    width:400px;
    height: 60px;

    font-size: 30px;
    background-color: #859b9e25;
    
}
.input-user:hover{
    background-color: rgb(247, 247, 247);
}
button{
    padding: 9px;
    margin-top: 8px;
    background-color: rgb(205, 184, 184);
    

}
button:hover{
    transform: translateX(9px);
    
}

.result-box {
    border: 1px solid #2e2c2c;
    padding: 10px;
    margin-top: 10px;
}
.input-display{
    background-color:rgb(230, 226, 220);

}
